%script{:type => "text/javascript",
	:src  => "/scripts/Refresher.js"}
%script{:type => "text/javascript",
	:src  => "/scripts/CountdownTimer.js"}
%script{:type => "text/javascript",
	:src  => "/scripts/Countdown.js"}

#content
	#countdown-div
		.header
			%h1="#{@event}"
			
			%p in
				

		%p
			%table.remainder{ :align => 'center' }
				%tr
					%td.time#days_left= 0
					%td	days
					%td.time#hours_left= 0
					%td hours
					%td.time#minutes_left= 0
					%td minutes
					%td.time#seconds_left= 0
					%td	seconds

		