%script{:type => "text/javascript",
	:src  => "/scripts/Refresher.js"}
%script{:type => "text/javascript",
	:src  => "/scripts/CountdownTimer.js"}
%script{:type => "text/javascript",
	:src  => "/scripts/Countdown.js"}
- @time = @date.to_time.getlocal

#countdown-div
	.header
		%h1="#{@event}"
		
		%p
			In
			

	%p
		%table.remainder
			%tr
				%td.time#days_left= 0
				%td	days
			%tr
				%td.time#hours_left= 0
				%td hours
			%tr
				%td.time#minutes_left= 0
				%td minutes
			%tr
				%td.time#seconds_left= 0
				%td	seconds

	